@use "../../Abstracts/h-fonts" as F;
@use "../../Abstracts/h-colors" as C;
@use "../../Mixins/mixins" as M;

.Main {


    & .form{
    
        grid-column: 1/13;
        border-radius: 0.33rem;
        padding: 2rem;

        @include M.flex(center,center,column);

        & form{

            @include M.flex(center,start,column);
            gap: 2rem;

            & label{ border-radius: 0.3rem; }

            & #category{

                @include M.flex(center,start,column);
            
                & #check{
                    @include M.flex(start,center,wrap); 
                    gap: 0.25rem;
                    
                    
                    & div{
                        @include M.flex(space-between,start);
                        gap: 0.25rem;


                    }
                    & div:nth-child(1) label{
                        padding-right: 1.65rem;
                    }
                }
            
                & label{

                    @include M.grid(auto,auto);
                    border: 1px solid black;
                    padding: 0.25rem 1rem;
                    border-radius: 1rem;
                    gap: 0.5rem;
                    font-weight: F.$fontWeight300;
                    

                    & span {
                        grid-column: 2/3;
                    }

                    
                
                }
            }
            & .labels{
                width: 100%;
                @include M.flex(start,center);
                gap: 1rem;
            
            
            }
            & textarea, input {
                background-color: transparent;
                resize: none;
                border: none;
                border-bottom: 1px solid black;
                width: 100%;
            
            
            }
            & label {
                @include M.flex(center,center);
                width: 100%;
                & button{
                

                    background-color: rgb(87, 86, 86);
                    color: white;
                    font-weight: F.$fontWeight300;
                
                    border-radius: 0.5rem;
                    padding: 0.5rem 2rem;

                }
            }
            #errorDisplay{
                color: red; font-weight: F.$fontWeight300;
            }
        }

    
    }
}


