
$c-black: #000000ee;
$c-grey: rgb(158, 158, 158);
$c-seasalt: #f8f9faff;
$c-antiflash-white: #e9ecefff;
$c-platinum: #dee2e6ff;
$c-french-gray: #ced4daff;
$c-french-gray-2: #adb5bdff;
$c-slate-gray: #6c757dff;
$c-outer-space: #495057ff;
$c-onyx: #343a40ff;
$c-eerie-black: #212529ff;