.App {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.nota {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}

.nota.favorita {
  background-color: #fffae6;
}

button {
  margin: 5px;
}
.form{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 200px;
}