
.Aside{
    grid-column: 1/13;
    grid-row: 2/3;
    background-image: url(./Media/Images/background_image.jpg);
    background-repeat: no-repeat;
    background-position: -1100px -1200px;
    
    
}