@use "../Abstracts/h-colors" as C;
@use "../Abstracts/h-fonts" as F;
@use "../Mixins/mixins" as M;
@use "./l-html" as H;


.Footer{
    grid-column: 1/13;
    grid-row: 4/5;
    background-color: C.$c-black;
    color: C.$c-platinum;
    padding: 1rem;

    & section {
        height: 100%;
        
        text-align: left;

        @include M.grid(repeat(12, 1fr), 100px 100px);

        & article {
            @include M.flex(space-evenly, flex-start);
            padding: 1rem;
            & h5{
                font-size: 0.8rem;
            }

            a:hover{
                text-decoration: dashed underline;
            }


            &:nth-child(1){
                grid-column: 1/4;
                grid-row: 1/2;
                font-size: 0.65rem;
                

            }
            &:nth-child(2){
                grid-column: 8/12;
                grid-row: 1/3;
                font-size: 0.65rem;
            }
        }
        
    }
}

@media(max-width:765px){
    .Footer{
        grid-column: 1/9;
        grid-row: 4/5;
        padding: 1rem;
        
    }


}

