@use "../Abstracts/_h-fonts" as F;
@use "../Mixins/_mixins" as M;


html {
    font-size: F.$fontSize;
    font-family: F.$fontFamily;
    font-weight: F.$fontWeight100;
    line-height: F.$lineHeight;

    
  }

.Body{
    @include M.grid(repeat(12, 1fr), 100px 600px auto 200px);
    width: 100%;
}

@media(max-width:765px){
  .Body{
    @include M.grid(repeat(8, 1fr), 100px 600px auto auto);
    
  }
}




