@use "../Abstracts/h-colors" as C;
@use "../Abstracts/h-fonts" as F;
@use "../Mixins/mixins" as M;
@use "./l-html" as H;

.Main{
    grid-column: 1/13;
    background-color: C.$c-seasalt;
    padding-bottom: 2rem;

    @include M.grid(repeat(12,1fr), auto);

    & .title{
        padding: 2rem;
        grid-column: 1/13;
        grid-row: 1/2;
        text-align: center;
        @include M.flex(center,center,column);
        gap: 1rem;
    }
    & .component-cards{
        padding: 2rem;
        grid-column: 1/13;
        grid-row: 2/3;
        
        

        & ul {
            @include M.grid(repeat(12, 1fr), auto);
            gap: 2rem;
            & li{

                @include M.flex(flex-start, center, column);
                gap: 2rem;
                grid-column:  4 span ;
                
            }
            


            
        }
        
    }
    

}

@media (max-width:765px){
    .Main{
        grid-column: 1/9;
        grid-row: 3/4;
        
        & .component-cards ul li{

            @include M.flex(flex-start, center, column);
            gap: 2rem;
            grid-column:  6 span ;
            
        }
    }
}
